In [1]:
#Importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Comando para plotar gr√°ficos no notebook
%matplotlib inline

In [2]:
dataset = "Cerveja_Multicolinearidade.xlsx"
data = pd.ExcelFile(dataset)
print(data.sheet_names)

['Cerveja']

In [3]:
df1 = data.parse('Cerveja')

In [5]:
df1.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,27.30,23.9,32.5,0.0,0,25461
1,2015-01-02,27.02,24.5,33.5,0.0,0,28972
2,2015-01-03,24.82,22.4,29.9,0.0,1,30814
3,2015-01-04,23.98,21.5,28.6,1.2,1,29799
4,2015-01-05,23.82,21.0,28.3,0.0,0,28900

In [6]:
df1.count()

Data                           365
Temperatura Media (C)          365
Temperatura Minima (C)         365
Temperatura Maxima (C)         365
Precipitacao (mm)              365
Final de Semana                365
Consumo de cerveja (litros)    365
dtype: int64

In [7]:
df1.mean()

Temperatura Media (C)             21.226356
Temperatura Minima (C)            17.461370
Temperatura Maxima (C)            26.611507
Precipitacao (mm)                  5.196712
Final de Semana                    0.284932
Consumo de cerveja (litros)    25401.367123
dtype: float64

In [8]:
df2 = df1.drop('Data', axis=1)

In [9]:
df2.head()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,27.30,23.9,32.5,0.0,0,25461
1,27.02,24.5,33.5,0.0,0,28972
2,24.82,22.4,29.9,0.0,1,30814
3,23.98,21.5,28.6,1.2,1,29799
4,23.82,21.0,28.3,0.0,0,28900

In [10]:
#Create a new data set with quantitative information
#train_new = pd.concat([train, sex, embark], axis=1)

#Display first five values
#train_new.head()

df2.columns = ['TempMed', 'TempMin', 'TempMax', 'Precip', 'Fds', 'Consumo']
df2.head()

   TempMed  TempMin  TempMax  Precip  Fds  Consumo
0    27.30     23.9     32.5     0.0    0    25461
1    27.02     24.5     33.5     0.0    0    28972
2    24.82     22.4     29.9     0.0    1    30814
3    23.98     21.5     28.6     1.2    1    29799
4    23.82     21.0     28.3     0.0    0    28900

In [20]:
#import train_test_split function
from sklearn.model_selection import train_test_split

In [21]:
#Create your input and ouput data set
X = df2.drop('Fds', axis = 1)
y = df2['Fds']

In [22]:
#Divide your data set into train/test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 101)

In [23]:
#Import the Logistic Regression Model and Train/Tet the model
from sklearn.linear_model import LogisticRegression

In [24]:
#Initialize the model to null
logmodel = LogisticRegression()

In [25]:
# Use fit method to train the model
logmodel.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [26]:
#Use predict method to test the model
predictions = logmodel.predict(X_test)

In [27]:
#Import Classification report from sklearn to show the analysis
from sklearn.metrics import classification_report

In [28]:
# Show classification report parameters
print (classification_report(y_test, predictions))

             precision    recall  f1-score   support

          0       0.86      0.94      0.90        78
          1       0.80      0.62      0.70        32

avg / total       0.84      0.85      0.84       110

### O modelo utiliza vari√°veis como temperatura (min, med, max), precipita√ß√£o (mm) e consumo de cerveja em litros e prev√™, com 84% de precis√£o m√©dia, se ser√° um final de semana ou n√£o.

O pr√≥ximo estudo √© prever o consumo com base nas vari√°veis e, talvez, um mapa de correla√ß√£o